telethon
telethon-session-sqlalchemy
setuptools
wheel
aiofiles
aiohttp
beautifulsoup4
cloudscraper
colour
covid
cowpy
DateTime
emoji
ffmpeg-python
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gtts
hachoir
heroku3
html-telegraph-poster
httpx[http2]
humanize
IMDbPY
jikanpy
justwatch
lottie
lyricsgenius
markdown
motor
moviepy
nekos.py
Pillow
prettytable
psutil
psycopg2
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pySmartDL
pytube==15.0.0
python-barcode
python-dotenv
pyTelegramBotAPI==3.7.7
pytz
py-tgcalls
qrcode
randomstuff.py
regex
requests
search-engine-parser
selenium
ShazamAPI
spamwatch
speedtest-cli
sqlalchemy-json
sqlalchemy==1.3.23
telegraph
tgcrypto
TgCrypto
ujson
urlextract
user_agent
validators
vcsi
wand
wikipedia
wget
youtube-search-python==1.4.9
youtube-search
yt-dlp==2023.09.24
youtube_dl

git+https://github.com/pytgcalls/pytgcalls
git+https://github.com/buddhhu/img2html.git
git+https://github.com/sandy1709/py-googletrans
